/* Poppins Fonts Link From Google Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app {
  width: 60%;
  min-height: 500px;
  padding: 40px 30px 70px;
  background-color: #fff;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 25px;
  background: #bdc3c7;
  border-radius: 30px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}

ul li {
  font-size: 17px;
  padding: 12px 8px 10px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  background: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background: url(images/checked.png);
  background-size: cover;
  background-position: center;
}

ul li span {
  position: absolute;
  top: 5;
  right: 0;
  color: #555;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

ul li span:hover {
  background-color: #dfe6e9;
  color: red;
}
